---
title: Pricing
description: RT
---

{% extends "columns.j2" %}


{% block main %}
### Pricing

<table border="1" bordercolor="#888" cellspacing="0" style="border-color:rgb(136,136,136);border-width:1px">
<tbody>
<tr>
<td style="width:175.39999997615814px;height:18.399999976158142px">&nbsp;<b><font size="3">Package</font></b></td>
<td style="width:54.39999997615814px;height:18.399999976158142px"><b><font size="3">&nbsp;Price</font></b></td>
<td style="width:83.39999997615814px;height:18.399999976158142px"><b><font size="3">&nbsp;Duration</font></b></td>
<td style="width:543.3999999761581px;height:18.399999976158142px"><b><font size="3">&nbsp;Notes</font></b></td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:38.39999997615814px"><font size="3">&nbsp;Headshot 1</font></td>
<td style="width:54.39999997615814px;height:38.39999997615814px"><font size="3">&nbsp;70</font></td>
<td style="width:83.39999997615814px;height:38.39999997615814px"><font size="3">&nbsp;0.5 hr</font></td>
<td style="width:543.3999999761581px;height:38.39999997615814px"><font size="3">&nbsp;In studio. 1 edited digital high resolution image. Each additional edited image is $15.</font><br>
</td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:38.39999997615814px"><font size="3">&nbsp;Headshot 2</font></td>
<td style="width:54.39999997615814px;height:38.39999997615814px"><font size="3">&nbsp;120</font></td>
<td style="width:83.39999997615814px;height:38.39999997615814px"><font size="3">&nbsp;0.5 hr</font></td>
<td style="width:543.3999999761581px;height:38.39999997615814px"><font size="3">&nbsp;At your location.&nbsp;1 edited digital high resolution image. Each additional edited image is $15.</font></td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;Headshot 3</font></td>
<td style="width:54.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;320</font></td>
<td style="width:83.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;2 hrs</font></td>
<td style="width:543.3999999761581px;height:57.39999997615814px"><font size="3">&nbsp;Corporate headshots. Up to 4 persons. Each additional person is $80. 1 edited digital high resolution image for each person. Each additional edited image is $15.</font></td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;Family 1</font></td>
<td style="width:54.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;200</font></td>
<td style="width:83.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;1 hr</font></td>
<td style="width:543.3999999761581px;height:57.39999997615814px"><font size="3">&nbsp;In studio, park or your preferred location. 10 edited images to be downloaded from website. $100 extra to include all high resolution images. Prints can be ordered for extra fees.</font></td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;Family 2</font></td>
<td style="width:54.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;300</font></td>
<td style="width:83.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;1.5 hrs</font></td>
<td style="width:543.3999999761581px;height:57.39999997615814px"><font size="3">&nbsp;In studio, park or your preferred location. 15 edited images to be downloaded from website. $100 extra to include all high resolution images. Prints can be ordered for extra fees.</font></td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:76.39999997615814px"><font size="3">&nbsp;Family 3</font></td>
<td style="width:54.39999997615814px;height:76.39999997615814px"><font size="3">&nbsp;400</font></td>
<td style="width:83.39999997615814px;height:76.39999997615814px"><font size="3">&nbsp;2 hrs</font></td>
<td style="width:543.3999999761581px;height:76.39999997615814px"><font size="3">&nbsp;In studio, park or your preferred location. 20 edited images to be downloaded from website. $100 extra to include all high resolution images. One 12 X 16 metallic or canvas print included. Other prints can be ordered for extra fees.</font></td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;Maternity 1</font></td>
<td style="width:54.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;200</font></td>
<td style="width:83.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;1 hr</font></td>
<td style="width:543.3999999761581px;height:57.39999997615814px"><font size="3">&nbsp;In studio, park or your preferred location. 10 edited images to be downloaded from website. $100 extra to include all high resolution images. Prints can be ordered for extra fees.</font></td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;Maternity 2</font></td>
<td style="width:54.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;300</font></td>
<td style="width:83.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;1.5 hrs</font></td>
<td style="width:543.3999999761581px;height:57.39999997615814px"><font size="3">&nbsp;In studio, park or your preferred location. 15 edited images to be downloaded from website. $100 extra to include all high resolution images. Prints can be ordered for extra fees.</font></td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;Newborn</font></td>
<td style="width:54.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;250</font></td>
<td style="width:83.39999997615814px;height:57.39999997615814px"><font size="3">&nbsp;baby decides</font></td>
<td style="width:543.3999999761581px;height:57.39999997615814px"><font size="3">&nbsp;In studio.&nbsp;10 edited images to be downloaded from website. $100 extra if in your home. $100 extra to include all high resolution images. Prints can be ordered for extra fees.</font></td>

</tr>
<tr>
<td style="width:175.39999997615814px;height:38.39999997615814px"><font size="3">&nbsp;Events</font></td>
<td style="width:54.39999997615814px;height:38.39999997615814px"><font size="3">&nbsp;100</font></td>
<td style="width:83.39999997615814px;height:38.39999997615814px"><font size="3">&nbsp;per hour</font></td>
<td style="width:543.3999999761581px;height:38.39999997615814px"><font size="3">&nbsp;Edited images to be download from website. Prints can be ordered for extra fees. Travel fee may apply if less than 2 hrs.</font></td>

</tr>

</tbody>
</table>
{% endblock main %}
