{# Columns template #}

{% extends "topbar.j2" %}

{% block container %}

<div class="row">
  <div class="col-xs-12">
      {% filter markdown -%}
      {% block main %}{% endblock %}
      {%- endfilter %}
  </div><!--span-->
</div><!--row-->

{% endblock container %}



