{% macro render_sidebar() -%}
<ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
{% for sidebar_item in sidebar -%}
  <li{% if sidebar_item.url == resource.url or sidebar_item.active %} class="active"{% endif %}>
  <a href="{{ sidebar_item.url }}">{{ sidebar_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_sub_indexpage(title, url, image) -%}
  <div class="img-div">
    <a href="{{ url }}">
      <img border="0" alt="{{ title }}" src="{{ google_drive_dir }}/{{image}}"
       class="auto-scale" />
    </a>
  </div>
  <div class="img-div">
  <a href="{{ url }}">{{ title }}</a></div>
  <br />
{%- endmacro %}

{% macro render_image_with_title(title, image) -%}
  <div class="img-div">
    <img class="auto-scale" border="0" alt="{{ title }}"
     src="{{ google_drive_dir }}/{{image}}" />
  </div>
  <div style="display:block;text-align:center;margin-right:auto;margin-left:auto">
  {{ title }}</div>
  <br />
{%- endmacro %}

{% macro render_image(image) -%}
  <div class="img-div">
    <img class="auto-scale" border="0" src="{{ google_drive_dir }}/{{image}}" />
  </div>
  <br />
{%- endmacro %}
