---
title: 2014 Peking University San Francisco Bay Area BBQ
description: RT
---

{% extends "columns.j2" %}


{% block main %}
### 2014 Peking University San Francisco Bay Area BBQ
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0731.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0732.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0735.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0736.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0738.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0740.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0741.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0743.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0745.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0748.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0750.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0752.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0754.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0758.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0760.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0762.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0764.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0765.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0768.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0769.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0770.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0771.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0775.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0779.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0781.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0784.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0785.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0794.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0795.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0797.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0799.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0804.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0807.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0810.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0812.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0814.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0816.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0818.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0819.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B0821.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>

{% endblock main %}
