---
title: Events
description: RT
---

{% extends "columns.j2" %}


{% block main %}
### Events

{% from "macros.j2" import render_sub_indexpage with context %}
{% for title, url, image_name in [
  ('Silicon Valley Innovation &amp; Entrepreneurship Forum - Santa Clara, California',
   '/events/svief2014.html', 'events_08.jpg'),

  ('Opus 1 Palo Alto Grand Opening - Palo Alto, California',
   '/events/opus-1-palo-alto-grand-opening.html', 'events_07.jpg'),

  ('2014 Peking University BBQ Event - Mountain View, California',
   '/events/2014-pku-bbq.html', 'events_06.jpg'),

  ('Patty&#39;s Birthday 2014 - Santa Clara, California',
   '/events/patty-birthday-2014.html', 'events_05.jpg'),

  ('Opus1 Music Studio Recital - Sunnyvale, California',
   '/events/opus1-music-studio-recital1.html', 'events_04.jpg'),

  ('Opus1 Music Studio Recital - Palo Alto, California',
   '/events/opus1-music-studio-recital0.html', 'events_03.jpg'),

  ('Fashion-tech Show - San Francisco, California',
   '/events/sf-fashion-tech.html', 'events_02.jpg'),

  ('Studio 8 Fashion Show - San Jose, California',
   '/events/studio-8.html', 'events_01.jpg'),
   ] %}
  {{ render_sub_indexpage(title, url, image_name, 0, 0) }}
{% endfor %}
{% endblock main %}
