---
title: Opus1 Music Studio Recital - Sunnyvale 2014
description: RT
---

{% extends "columns.j2" %}


{% block main %}
### Opus1 Music Studio Recital - Sunnyvale 2014
{% from "macros.j2" import render_image with context %}
{% for image in ['641A0188.JPG', '641A0110.JPG', '641A0121.JPG', '641A0126.JPG',
'641A0140.JPG', '641A0154.JPG', '641A0202.JPG', '641A0219.JPG',
'641A0224.JPG', '641A0289.JPG', '641A0298.JPG', '641A0307.JPG',
'641A0326.JPG', '641A0372.JPG', ] %}
  {{ render_image(image) }}
{% endfor %}
{% endblock main %}
