---
title: Opus 1 Palo Alto Grand Opening
description: RT
---

{% extends "columns.j2" %}


{% block main %}
### Opus 1 Palo Alto Grand Opening
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1445.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1451.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1454.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1456.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1466.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1486.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1488.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1501.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1510.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1511.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1516.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1522.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1527.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1539.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1559.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1566.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1569.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1576.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1589.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1594.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1597.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1608.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1613.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1615.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1633.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1640.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641B1649.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>

{% endblock main %}
