---
title: Patty Birthday 2014
description: RT
---

{% extends "columns.j2" %}


{% block main %}
### Patty Birthday 2014
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A0618.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A0621.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A0622.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A0634.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A0637.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A0638.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A0640.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A0650.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>

{% endblock main %}
