---
title: Studio 8 Fashion Show, San Jose 2014
description: RT
---

{% extends "columns.j2" %}


{% block main %}
### Studio 8 Fashion Show, San Jose 2014
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6679.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6680.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6696.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6697.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6701.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6712.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6716.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6738.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6758.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6768.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6786.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6808.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6870.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6895.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6898.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6916.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6925.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A6996.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7008.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7047.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7114.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7120.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7187.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7207.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7208.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7217.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7224.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7245.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7251.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7260.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7265.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>
<div style="display:block;text-align:center;margin-right:auto;margin-left:auto"><img border="0" src="{{ google_drive_dir }}/641A7269.JPG" style="display:block;margin-right:auto;margin-left:auto;text-align:center"></div>
<br>


{% endblock main %}
